openapi: 3.0.1
info:
  title: Nitric Framework
  description: >-
    Nitric is an open-source cloud framework and infrastructure-from-code SDK
    plus CLI, not a hosted REST API. Developers declare resources - APIs,
    schedules, queues, topics, buckets, key-value stores, secrets, websockets,
    and SQL databases - directly in TypeScript, Python, Go, or Dart application
    code. The Nitric CLI (nitric new / start / up / down) and pluggable Pulumi
    or Terraform providers then provision those resources on AWS, Google Cloud,
    or Azure. The HTTP APIs you build with Nitric are deployed to your own cloud
    account and have their own, application-specific base URLs and contracts -
    Nitric itself does not expose a public hosted REST endpoint to document
    here. This OpenAPI document therefore intentionally declares no paths; it
    exists to register Nitric as a framework / IaC interface in the API
    Evangelist catalog. See the SDK and CLI references for the developer
    interface.
  termsOfService: https://nitric.io/terms
  contact:
    name: Nitric
    url: https://nitric.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '0.19'
externalDocs:
  description: Nitric Documentation
  url: https://nitric.io/docs
servers:
  - url: https://nitric.io/docs
    description: >-
      Documentation root. Nitric has no hosted API server; deployed
      applications run in your own AWS, Google Cloud, or Azure account.
paths: {}
